
.phone p {
  background-color: #eafbff;
  text-align: left;
  margin: 5vw;
  padding:6vw;
  border-style: solid;
  border-radius: 2vw;
  border-color: #eafbff;

}

.maps{
  background-color: rgba(248, 248, 248, 0.702);
  text-align: left;
  margin: 5vw;
  padding: 6vw;
  border-style: solid;
  border-radius: 2vw;
  border-color: rgba(248, 248, 248, 0.702);
}

.maps a {
  color: #00abd1;
  font-size: 0.9em;
}

.contact img{
  margin: auto;
}


/* BIGGER SCREENS */

@media (min-width: 321px) {
  
  .contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 4em 12em;
  }

  .contact{
    flex: 1;
    font-size: 1em;
    margin-left: 5em;
    color:rgb(200, 199, 199);
  }

  .contact h2 {
    color: black;
    padding-left: 0;
  }

  .contact img{
    margin: 0;
    max-width: 300px;
  }

  .bubbles {
    margin: 8em 0 0 0em;
  }

  .phone p{
    flex: 1;
    padding: 1em 8em 1em 1em;
  }

  .phone svg{
    width: 50px;
    height: 50px;
  }

  .maps{
    padding: 1em 8em 1em 1em;
    flex:1;
  }

}