
/* PRODUCTS PAGE*/

.main-margin{
  margin: 1.7em;
}
.product {
  text-align: left;
}

@media (min-width: 321px) {
  main{
    margin: 5em 15em;
  }
  
  .grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2em 3em;
    margin: 5em 0em;
  }

  .product {
    object-fit: cover;
    width: 50%;
    height: 70%;
    /*img ne se replacent pas*/
  }
  
  .product h3, p{
    margin: 0;
  }
}